/* Frontend Mentor Styles */
.attribution {
  margin-block-start: 1rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  /* Colors */
  --primary-pale-blue: hsla(225, 100%, 94%, 1);
  --secondary-pale-blue: hsla(225, 100%, 94%, 0.5);
  --primary-bright-blue: hsl(245, 75%, 52%, 1);
  --primary-white: hsla(0, 0%, 100%, 1);
  --secondary-text: hsla(244, 7%, 55%, 1);
  --neutral-pale-blue: hsla(225, 100%, 98%, 1);
  --neutral-desaturated: hsla(224, 23%, 55%, 1);
  --neutral-dark-blue: hsla(223, 47%, 23%, 1);
  --shadow--card-color: hsla(0, 0%, 0%, 0.5);
  --shadow-btn-color: hsla(245, 75%, 52%, 0.2);
  --primary-hover: hsla(245, 83%, 68%,1);

  /* Typography */
  --bodyText-font: 'Red Hat Display', sans-serif;
  --bodyText-header: 2.2rem;
  --bodyText-paragraph: 1.6rem;
  --bodyText-medium: 500;
  --bodyText-bold: 700;
  --bodyText-thick: 900;
}

/* DEVICES SIZES */
/* Mobile: 375px */
/* Desktop: 1440px */

/* local styles  */
body {
  margin: 0;
  max-width: 375px;
  height: auto;
  margin: 0 auto;
  background: var(--primary-pale-blue);
  background-image: url(/images/pattern-background-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
  font-family: var(--bodyText-font);
}

@media screen and (min-width: 1339px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
  }
  
}


.card {
  margin-block-start: 7rem;
  margin-block-end: 7rem;
  margin-inline-start: 2.5rem;
  margin-inline-end: 2.5rem;
  background: var(--primary-white);
  box-shadow: 0 20px 20px var(--shadow-card-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: calc(375px - 3.25rem);
  border-radius: 25px 25px 0 0;
  margin-block-end: 3.4rem;
}

.hero-txt-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 2.4rem;
}

.hero-txt-header {
  font-size: var(--bodyText-header);
  font-weight: var(--bodyText-thick);
  margin: 0;
  margin-block-end: 1.7rem;
}

.hero-txt-body {
  padding: 0 2rem 0 2rem;
  font-size: var(--bodyText-paragraph);
  font-weight: var(--bodyText-bold);
  color: var(--secondary-text);
  text-align: center;
}

.subscription-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 1.5rem;
  margin-inline-start: 2.5rem;
  margin-inline-end: 2.5rem;
  margin-block-end: 2.5rem;
  border-radius: 15px;
  background: var(--secondary-pale-blue);
}

.subscription-icon {
  padding: 0 1.5rem 0 1.7rem;
  width: 8rem;
}

.subscription-icon .icon {
  width: 4.8rem;
}

.subscription-plan {
  width: 12.2rem;
  text-align: left;
  padding: 1.5rem 0 1.6rem 0;
}

.subscription-plan h2 {
  font-size: 1.4rem;
  margin: 0;
  padding-bottom: 1rem;
}

.subscription-plan p {
  font-size: 1.4rem;
  margin: 0;
  color: var(--secondary-text);
}

.subscription-change {
  font-size: 1.4rem;
  width: 7.3rem;
}

.subscription-change a {
  text-decoration: underline;
  color:var(--primary-bright-blue);
}
.subscription-change a:hover {
  text-decoration: none;
  /* color:var(--primary-bright-blue); */
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 1.25rem;
  margin-block-end: 2.25rem;
}

.btn-pay {
  margin-block-end: 1.5rem;
  padding: 0.8125rem 4.065rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 14px 20px var(--shadow-btn-color);
  background: var(--primary-bright-blue);
  color: var(--primary-white);
}

.btn-pay:hover {
  background: var(--primary-hover);
  color: var(--primary-white);
}

.btn-cancel {
  border: none;
  background: none;
  color: var(--secondary-text);
  font-size: 1.6rem;
  font-weight: var(--bodyText-bold);
}
.btn-cancel:hover {
  color: initial;
}
